body{
  padding: 0%;
  margin: 0%;
  
  background-color: #0C6170;
}

h1{
  font-size: 25px;
  color: #DBF5F0;
}

h2{
  color: #A4E5E0;
  font-size: 16px;
}

img{
  height: 100px;
  width: 100px;
}

.header{
    background-color: #A4E5E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.left{
    margin-left: 10vw;
    font-size: 30px;
    color: #0C6170;
}

.right {
    overflow: hidden;
    margin-right: 7vw;
}
  
.right a {
    color: #0C6170;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.right a:hover {
    color: #0C6170;
}
  
.icon1 {
    display: none;
}

.icon{
    font-size: 25px;
    color: #0C6170;
}


.title{
  text-align: center;
  padding-bottom: 40px; 
}

.title h1{
  font-size: 40px;
  font-weight: 900;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

.title h2{
  font-size: 25px;
  font-weight: 100;
  margin: 0 15px 20px 15px;
}

.info-sec{
  margin: 0px 0px;
  padding-top: 15px;
}

.info-panels{
  margin: 0 20px 0 20px;
  display: grid;
}

.icons{
  text-align: center;
}

.icons h2{
  padding: 0 10px 0 10px;
}

.contact{
  background-color: #0C6170; 
}

.contact{
  flex-direction: column;
  text-align:  center;
}

.contact form{
  display: flex;
  flex-direction:column;
}

form button{
  color:#0C6170;
  background-color: #fff;
  border: none;
}

#btn:hover{
    background-color: #0C6170;
    color:  #fff;
}

@media screen and (max-width: 600px) {
    .header{
      display: inline-block;
      width: 100vw;
  }
    .right a{
      display: none;
  }
    .icon1{
      line-height: 75px;
      float: right;
      display: block;
      margin-right: 10vw;
      padding:10px 10px;
  }
    .info-panels{
      text-align: center;
  }

  form input, form textarea{
    margin: 5px 20px;
    padding: 20px 10px;
  }

  form button{
    margin: 8px 110px;
    padding: 10px 10px;
  }
}
  
@media screen and (max-width: 600px) {
    .right.responsive {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100vw;
    }
    .right.responsive a {
      float: none;
      display: block;
      text-align: left;
      padding-left: 8vw;
      font-size: large;
    }
}

@media screen and (min-width: 600px){
    .info-panels{
      grid-template-columns: repeat(2, 1fr);
    }

    .icons h2{
      text-align: left;
      padding: 0 10px 0 20px;
    }
    
    img{
      height: 120px;
      width: 120px;
    }

    form input, form textarea{
    margin: 5px 200px;
    padding: 10px 10px;
    }

    form button{
      padding: 10px 10vmax;
      margin: auto auto;
      max-width: 500px;
      align-items: center;  
    }
}

@media screen and (min-width: 900px){
  .info-panels{
    grid-template-columns: repeat(3, 1fr);
  }

  img{
    height: 150px;
    width: 150px
  }

  form input, form textarea{
    margin: 5px 250px;
  }
}

body::-webkit-scrollbar{
  display: none;
}

body{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0C6170;
  opacity: 1; /* Firefox */
  font-family:'Courier New', Courier, monospace;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #0C6170;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #0C6170;
}